@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(16, 187, 53, 0.08);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 187, 53, 0.3);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 2s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}



